* {
    margin: 0;
}
.header {
    background-color: #aec6cf;
    z-index: 2;
    position: relative;
}

// Hide Desktop Nav
.header-nav {
    display: none;
}

// Banner Styling
.wavy {
    z-index: 2;
    position: relative;
}
.wavy-reverse {
    z-index: 2;
    position: relative;
    margin-bottom: -5px;
}
.reverse-banner {
    width: 101%;
}
.banner {
    margin-top: -1px;
    width: 101%;
}
@font-face {
    font-family: 'monterseratt-bold';
    src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

// Parallax styles
html {
    height: 100%;
    overflow: hidden;
}

body {
    color: #fff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d; // Stops the browser from flattening the parallax elements
    height: 100%;
    overflow-y: scroll; // Clips the content but provides scrolling
    overflow-x: hidden; // Clips the content and prevents horizontal scrolling 
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
}

.parallax {
    box-sizing: border-box;
    min-height: 50vh;
    padding: 0vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

.parallax, .parallax:before {
    background: 50% 50% / cover;
}

.parallax::before {
    bottom: 0;
    content: "";
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    display: block;
    background-image: url(../assets/corgi1.jpeg);
    background-size: cover;
    margin: 0;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(4); // Creates a 3d translation in the z axis and scales the image
    z-index: -1; // Stack level of the elements
    min-height: 60vh;
}

.parallax2 {
    box-sizing: border-box;
    min-height: 50vh;
    padding: 0vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

.parallax2, .parallax2:before {
    background: 50% 50% / cover;
}

.parallax2::before {
    bottom: 0;
    content: "";
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    display: block;
    background-image: url(../assets/puppy2.jpeg);
    background-size: cover;
    margin: 0;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(4); // Creates a 3d translation in the z axis and scales the image
    z-index: -1; // Stack level of the elements
    min-height: 50vh;
}

.text-wrapper {
    width: 100vw;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
    z-index: 2;
    position: relative;
}
// Mobile Styles
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.logo {
    grid-column: 2/4;
    max-width: 100%;
    justify-self: center;
}
.deal {
    grid-column: 4/5;
    background-color: #4a3b34;
    height: 150px;
    border-radius: 10px 0 0 10px;
    margin: auto 0;
    display: table;
}
.deal p {
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
}
.slogan {
    grid-column: 1/3;
    margin: auto;
    padding-left: 20px;
    text-align: center;
    color: #4a3b34;
    font-size: 1.2em;
}

// Navigation Styles
.nav {
    grid-column: 3/5;
    overflow: hidden;
    width: 50%;
    border-radius: 5px;
    justify-self: right;
    margin: 0px 20px;
}
.nav #links {
    display: none;
    background-color: #7ea4b3;
}
.nav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.nav a.icon {
    padding: 0px;
}
.paw-icon {
    width: 45%;
    margin: 10px;
    border-radius: 50%;
    float: right;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
}
.nav a:hover {
    color: black;
}
.active {
    background-color: #4CAF50;
    color: white;
}

// Main Content Styles
.title {
    grid-column: 1/5;
    text-align: center;
}
.text-wrapper {
    color: #4a3b34;
}
.main-text {
    grid-column: 1/5;
    padding: 10px;
    margin: 0 60px;
    color: #4a3b34;
}
.content-image {
    grid-column: 1/5;
    max-width: 100%;
    justify-self: center;
}
.list {
    grid-column: 2/4;
}
.content-links {
    text-decoration: none;
}

//Services Styles
.title-text {
    grid-column: 1/5;
    color: #4a3b34;
    margin: 10px 15px;
}
.areas-text {
    grid-column: 1/5;
    color: #4a3b34;
    margin: 10px 15px;
}
.walking, .house-calls, .day-care {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    grid-column: 1/5;
    margin: 10px 20px;
    background-color: #fff;
}
.service-images {
    max-width: 100%;
}
h2, h3, .services-text {
    color: #4a3b34;
    margin: 10px 10px;
}
.price {
    height: 80px;
    width: 100px;
    background-color: #4a3b34;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}

// About Us Styles

#the-team {
    grid-column: 1/5;
    justify-self: center;
    text-align: center;
}
#the-team li {
    list-style: none;
    padding: 10px 0;
}
.team-img {
    border-radius: 5px;
}
.crop {
    object-fit: cover;
}
.team-text {
    font-size: 1.1em;
    padding: 5px;
}
#the-team li {
    grid-column: span 3;
}
.vittoria {
    padding-top: 21px;
}

//Gallery Styles
.gallery-images {
    grid-column: 1/5;
    text-align: center;
}
.gallery-images img {
    padding: 10px;
}
.image-row1, .image-row2, .image-row3,
.image-row4, .image-row5 {
    max-width: 80%;
    justify-self: center;
}

// Contact Styles
.contact-wrapper {
    color: #4a3b34;
}
.location {
    font-size: 1.2em;
    padding-bottom: 5px;
}
.ormskirk{
    grid-row: 1;
    grid-column: 1/3;
    justify-self: center;
    text-align: center;
    margin-top: 10px;
}
.southport {
    grid-row: 1;
    grid-column: 3/5;
    justify-self: center;
    text-align: center;
    margin-top: 10px;
}
.warrington {
    grid-column: 2/4;
    justify-self: center;
    text-align: center;
    margin-top: 10px;
}
.background {
    background-image: url(../assets/background-paws.svg);
    background-repeat: repeat;
    z-index: 999;
}

.form-container {
    margin: 20px 20px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #aec6cf;
    opacity: 0.9;
    height: 90%;
    position: relative;
    z-index: 1;
}
label {
    margin: 5px 5px;
    color: #4a3b34;
}
.form {
    grid-column: 1/5;
    height: 90%;
    margin: 10px;
    border-radius: 10px;
    border: medium;
}
#name, #email, #subject, #message {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px; 
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    resize: vertical;
    font-family: 'monterseratt-bold';
}
.button {
    text-align: center;
    font-family: 'monterseratt-bold';
}
#submit {
    font-family: 'monterseratt-bold';
    font-size: 1.5em;
    padding: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.2s;
    transition-property: transform;
}
#submit:hover, #submit:focus, #submit:active {
    transform: scale(1.1);
}

// Footer Styles
footer {
    margin: 10px 20px;
    background-color: #4a3b34;
    z-index: 1;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer {
    margin-top: 20px;
}
.footer-text {
    color: #fff;
    margin: 5px;
}
.footer-left {
    grid-row: 1;
    grid-column: 1/3;
    margin-left: 5px;
    margin-top: 10px;
    vertical-align: center;
}
.footer-right {
    grid-row: 1;
    grid-column: 3/5;
    text-align: right;
    margin: 10px 0 10px 5px;
    vertical-align: auto;
}

// Media Queries

@media screen and (min-width: 800px) {
    
    // Header Styles
    .logo {
        max-width: 50%;
        grid-column: 2/4;
    }
    .slogan {
        padding: 0 20%;
    }
    .paw-icon {
        width: 30%;
    }

    // Parallax Styles
    .parallax::before {
        transform: translateZ(-1px) scale(3);
    }
    .parallax2:before {
        transform: translateZ(-1px) scale(3.5);
    }

    // Main Content Styles
    .content-image {
        max-width: 40%;
    }
    .main-text {
        margin: 0 150px;
    }

    // About Us Image Layout
    #the-team li {
        grid-column: span 2;
    }

    // Services Styles
    .services {
        margin: 0 150px;
    }

    // Gallery Styles
    .gallery-images img {
        max-width: 30%;
    }

    // Contact Styles
    .warrington {
        grid-row: 1;
    }
    .form-container {
        margin: 30px 20%;
    }
}

@media screen and (min-width: 1200px) {

    // Header Styles
    .logo {
        max-width: 35%;
        grid-column: 2/4;
    }
    .deal {
        margin-left: 20%;        
    }
    .slogan {
        padding: 0 30%;
        font-size: 1.5em;
    }
    .paw-icon {
        display: none;
    }

    // Desktop Nav Styles
    .header-nav {
        display: block; // Reveal desktop navigation
        grid-column: 3/5;
        padding: 0;
        justify-self: center;
    }
    .nav-items {
        padding: 0 30px;
        color: #fff;
        text-decoration: none;
        font-size: 1.4em;
    }

    // Parallax Styles
    .parallax::before {
        transform: translateZ(-1px) scale(3);
        min-height: 100vh;
    }
    .parallax2:before {
        transform: translateZ(-1px) scale(3.5);
    }

    // Main Content Styles
    .content-image {
        max-width: 40%;
    }
    .main-text {
        margin: 15px 25%;
    }

    // About Us Image Layout
    #the-team li {
        grid-column: span 2;
    }

    // Services Styles
    .services {
        margin: 0 25%;
    }
    .walking, .house-calls, .day-care {
        margin: 50px 0;
        grid-template-rows: repeat(2, 1fr);
        height: 275px;
    }
    .service-images {
        grid-column: 1/2;
        grid-row: 1/3;
        height: 100%;
    }
    .walking h3, .house-calls h3, .day-care h3 {
        grid-row: 1;
        padding-top: 25%;
    }
    .services-text {
        grid-row: 2;
        grid-column: 2/4;
    }
    .price {
        grid-column: 4/5;
        grid-row: 1/3;
        height: 100%;
        width: 100%;
        background-color: #4a3b34;
        color: #fff;
    }
    .price p {
        font-size: 1.5em;
    }

    // Gallery Styles
    .section {
        margin: 0 10%;
    }
    .gallery-images img {
        max-width: 30%;
    }

    // Contact Styles
    .contact-wrapper {
        margin: 0 15%;
    }
    .form-container {
        margin: 30px 30%;
    }

}